name: Build iOS IPA
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Cordova
        run: npm install -g cordova

      - name: Prepare Project
        run: |
          mkdir www
          cp index.html www/
          # Tambahkan perintah cp untuk foto lainnya jika ada, contoh:
          # cp logo.png www/
          cordova platform add ios

      - name: Build Xcode Project
        run: cordova build ios --debug

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ios-build-debug
          path: platforms/ios/build/device/*.ipa
